.game {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  margin: 20px;
}

.game-board {
  margin-right: 20px;
}

.board-row {
  display: flex;
}

.square {
  width: 60px;
  height: 60px;
  font-size: 24px;
  margin-right: -1px;
  margin-top: -1px;
  border: 1px solid black;
  background: #fff;
  cursor: pointer;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
}

.game-info button {
  margin-bottom: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
